html {
  height: 100vh;
}
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  background-image: url("../images/2024_1.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100% 50%;
  background-attachment: fixed;

  /* 
  header 높이를 임의 값(50%)으로 지정하고
  내부에 포함된 content(text 들)를 화면 중앙에 배치하기
  */
  height: 50%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  height: auto;
  padding: 5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

section.main {
  border: 1px solid transparent;
  background-image: url("../images/2024_2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

article.btn_write {
  /* box 크기를 blog_body 와 같게 */
  width: 80%;
  /* box 의 위치를 중앙정렬 */
  margin: 5px auto;
  /* box 에 포함된 content 를 오른쪽정렬 */
  text-align: right;

  padding: 16px 0;
  color: white;
}

article.btn_write a {
  background-color: rgba(150, 150, 150, 0.5);
  border-radius: 20px;
  color: blue;
  font-weight: 500;
  padding: 12px 16px;
  transition: 0.7s;
}

article.btn_write a:hover {
  background-color: rgba(150, 150, 150, 1);
  color: white;
}

article.blog_body {
  width: 80%;
  color: white;
  margin: 10px auto;
}

div.blog_title {
  background-color: teal;
  padding: 1rem 8px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

div.blog_text {
  padding: 1rem 8px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  border: 1px solid green;
  background-color: rgba(150, 150, 150, 0.5);
}

footer {
  padding: 0.6rem;
  background-color: #ddd;
  text-align: center;
}
