form.blog_write {
  width: 60%;
  margin: 10px auto;
}

/* form fieldset 은 form 을 감싸는 제목이 있는 box 만들기*/
form.blog_write fieldset {
  border: 1px solid #aaa;
  border-radius: 10px;
  /* fielset 의 제목의 표시 위치를 조절할때 사용하는 속성 */
  padding: 30px;
  text-align: center;
}

/* form 을 감싸는 box 의 제목 설정 */
form.blog_write legend {
  padding: 10px;
  color: #465eae;
}

form.blog_write div {
  width: 80%;
  margin: 3px auto;
  display: flex;
}

form.blog_write label,
form.blog_write input,
form.blog_write textarea {
  margin: 5px;
  padding: 8px;
}

form.blog_write label {
  flex: 1;
  text-align: right;
  color: blue;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.7);
  background-color: #eee;
}

form.blog_write input,
form.blog_write textarea {
  flex: 2;
  border-radius: 10px;
  outline: none;
  border: 2px solid #aaa;
}

form.blog_write div.btn_box {
  border: none;
}

form.blog_write input:hover,
form.blog_write textarea:hover {
  background-color: #ddd;
}

form.blog_write input:focus,
form.blog_write textarea:focus {
  border: 2px solid green;
}

div.btn_box label {
  background-color: white;
  box-shadow: none;
}

div.btn_box div {
  flex: 2;
  margin: 5px;
}

div.btn_box button {
  width: 100px;
  padding: 10px 28px;
  outline: none;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
}
div.btn_box button:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
