form.blog_write {
  width: 80%;
  margin: 10px auto;
}

form.blog_write div {
  width: 60%;
  margin: 3px auto;
  display: flex;
}

form.blog_write label,
form.blog_write input,
form.blog_write textarea {
  margin: 5px;
  padding: 8px;
}

form.blog_write label {
  flex: 1;
  text-align: right;
  color: blue;
  font-weight: bold;
}
form.blog_write input,
form.blog_write textarea {
  flex: 2;
  border-radius: 10px;
  outline: none;
  border: 2px solid #aaa;
}

form.blog_write input:hover,
form.blog_write textarea:hover {
  background-color: #ddd;
}

form.blog_write input:focus,
form.blog_write textarea:focus {
  border: 2px solid green;
}
